html {
    /* background-color: rgb(0, 5, 8); */
    background-image: linear-gradient( rgb(151, 194, 154), rgb(228, 151, 88), rgb(115, 170, 216));
}

* {
    font-family: 'Courier New', Courier, monospace;
}

.introduction h1 {
    text-align: center;
    color: #ffbb00d3;
    background-color: #0e3568;
    border: solid;
    border-radius: 12px;
    border-color: #ffbb00d3;
    font-size: x-large;
    font-size: 250%;
}

.introduction h2 {
    color: rgb(255, 255, 255);
    font-size: large;
}

.list {
    color: white;
    font-size: medium;
}

#starters_image_div {
    width: 28%;
    background-color: rgb(255, 255, 255);
    border: solid;
    border-width: 10px;
    border-radius: 15px;
    padding: 3px 3px 0px 3px;
    margin-left: 35%;
    border: solid;
    border-color: rgb(0, 0, 0);
}

.pokemon_images {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}

#bulbasaur_container {
    background-color: rgb(151, 194, 154);
    border: solid;
    fill: azure;
    border-radius: 20px;
    padding: 0px 2px 1px 20px;
    border-color: rgb(141, 132, 91);
    color: white;
    font-size: small;
    margin-top: 10px;
    margin-bottom: 20px;
}

#charmander_container {
    background-color: rgb(228, 151, 88);
    border: solid;
    fill: azure;
    border-radius: 20px;
    padding: 0px 2px 1px 20px;
    border-color: rgb(141, 132, 91);
    color: white;
    font-size: small;
    margin-top: 10px;
    margin-bottom: 20px;
}

#squirtle_container {
    background-color: rgb(115, 170, 216);
    border: solid;
    fill: azure;
    border-radius: 20px;
    padding: 0px 2px 1px 20px;
    border-color: rgb(141, 132, 91);
    color: white;
    font-size: small;
    margin-top: 10px;
    margin-bottom: 20px;
}

footer {
    margin-top: 50px;
    color: white;
}